<div class="container px-3 mt-5">
    <div class="row d-flex align-items-center justify-content-center mx-auto">
        <div class="mb-3 col-md-4 border py-3 px-3">    
            <h2>Register</h2>
            <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
                <div class="my-3">
                    <label for="fullName" class="form-label mb-0">Fullname</label>
                    <input type="text" class="form-control" [class.is-invalid]="fullName.invalid && (fullName.dirty || fullName.touched)" id="fullName" name="fullName" placeholder="John Doe" required #fullName="ngModel" ngModel>
                    <div class="invalid-feedback" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                        Fullname is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="emailAddress" class="form-label mb-0">Email address</label>
                    <input type="email" 
                    [class.is-invalid]="
                    (emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)) || backEndError"
                    pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$" class="form-control" id="email" name="emailAddress" placeholder="Enter email" required #emailAddress="ngModel" ngModel>
                    <div class="invalid-feedback" *ngIf="emailAddress.errors?.['required'] && (emailAddress.dirty || emailAddress.touched)">
                        Email is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="emailAddress.errors?.['pattern']">
                        Email must be valid.
                    </div>
                    <div class="invalid-feedback"  *ngIf="backEndError">
                        {{ backEndError }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label mb-0">Password</label>
                    <input type="password"
                    class="form-control" id="password" name="password" placeholder="Password" required #password="ngModel" ngModel>
                    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        password is required.
                    </div>

                </div>
                <button type="submit" class="btn btn-primary w-100" style="background-color: #004d8f" [disabled]="registerForm.invalid">Register</button>
            </form>
        </div>
        <div class="text-center">
            <small>Already have an account? <a routerLink="/login">Log in</a></small>
        </div>
    </div>
    </div>
    